* {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: color, background-color, display, div, position, span, font-size, text-decoration, box-shadow, border-color, filter, border-radius, background-image, transform, margin, margin-top, margin-bottom, margin-right, margin-left, padding-bottom, outline, opatity;
    scrollbar-width: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--background-secondary);
    scrollbar-darkshadow-color: rgb(0 0 0/12%);
    scroll-padding: 1%;
    scrollbar-shadow-color: rgb(0 0 0/12%);
    scroll-behavior: smooth;
  }
  :root {
    --main-text: #272727;
    --main-text-rgb: 39,39,39;
    --shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    --hover-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    --background-secondary: #ffe5da;
    --background-secondary-rgb: 255, 229, 218;
    --focus: rgba(3, 102, 214, 0.3);
    --border: 1px solid #a06a5433;
    --border-color: #a06a5433;
    --border-color-rgb: 160, 106, 84, 0.2;
    --background-primary: #F0C8B7;
    --background-primary-rgb: 240, 200, 183;
    --input-background: var(--background-primary);
    --input-background-rgb: var(--background-primary-rgb);
    --opacity-color: #ADADAD;
    --opacity-color-rgb: 173,173,173;
    --nav-focus: var(--background-primary);
    --nav-focus-rgb: var(--background-primary-rgb);
    --accent: #A06A54;
    --accent-rgb: 160,106,84;
    --modal: #EFEFEF;
    --modal-rgb: 239,239,239;
    --site-background: #E6AF9A;
    --site-background-rgb: 230, 175, 154;
    --nav-background: #bac9d4;
    --nav-background-rgb: 250,250,250;
    --button-background: #FFF;
    --button-background-rgb: 255,255,255;
    --nav-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --main-text: #CDCDCD;
      --main-text-rgb: 205,205,205;
      --background-secondary: #644538;
      --background-secondary-rgb: 100, 69, 56;
      --focus: rgb(100 172 255);
      --background-primary: #4F3226;
      --background-primary-rgb: 79, 50, 38;
      --border: 1px solid #ffffff1a;
      --border-color: #ffffff1a;
      --border-color-rgb: 255,255,241;
      --input-background: var(--border-color);
      --opacity-color: #E5E5E67D;
      --nav-focus: var(--background-primary);
      --nav-focus-rgb: var(--background-primary-rgb);
      --nav-background: #2F2F2F;
      --nav-background-rgb: 47,47,47;
      --modal: #0f0f0f;
      --modal-rgb: 15, 15, 15;
      --site-background: #442f26;
      --site-background-rgb: 68, 47, 38;
      --button-background: #252525;
      --button-background-rgb: 37,37,37;
      --shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;;
      --hover-background: #ffffff1a;
      --hover-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      --nav-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
      --window-outline: 1px solid #000;
      --window-outline-color: #000;
   }
  img {
    filter: contrast(0.8);
  }
  }
  html {
    background: var(--site-background);
  }
  p,i,span,li,h1,h2,h3,h4,h5,h6,a,label,figcaption,div,.title { 
    color: var(--main-text);
  }
header {
    width: 100%;
    background: rgba(var(--background-secondary-rgb),0.6);
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    z-index: 30;
    padding-top: 8px;
    padding-bottom: 8px;
    backdrop-filter: blur(8px);
}
img.siteicon {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
h1.title {
    margin: 0;
    font-size: 20px;
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto !important;
}
span.sitetitle {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
#headers {
    width: 100%;
    display: flex;
}
nav.nav {
    margin-left: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
body {
    margin: 0;
}
.menu-group {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    height: fit-content;
    box-sizing: border-box;
    line-height: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
#headers .title a {
    display: flex;
}
.menu-item:hover {
    background: var(--border-color);
    color: var(--accent);
    box-shadow: var(--shadow);
}
.menu-item a:hover {
    color: var(--main-text);
}
.nav-close,.mobileonly {
    display: none;
}
@media screen and (max-width: 600px) {
    .mobileonly {
        display: block;
    }
    nav.nav {
        margin: 0;
        height: 100vh;
        position: fixed;
        right: 0;
        background: var(--border-color);
        top: 0;
        width: 80vw;
        padding-top: 10px;
        backdrop-filter: blur(8px);
        border-left: var(--window-outline);
        display: none;
      }
    .menu-group {
        display: grid;
        justify-content: left;
    }
    .nav-close {
        background: var(--background-primary);
        border: var(--border);
        border-radius: 50%;
        position: fixed;
        top: 20px;
        z-index: 35;
        left: 1em;
        width: 50px;
        height: 50px;
        box-shadow: var(--shadow);
    }
    .nav-close span {
        display: block;
    }
    .title.mobileonly {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: var(--border);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px !important;
    }
}