header {
    width: 100%;
    background: #dddd;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border-bottom: 1px solid #aaa;
    position: sticky;
    top: 0;
    z-index: 30;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
}
img.siteicon {
    width: 50px;
    margin-right: 10px;
    height: 50px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
h1.title {
    margin: 0;
    font-size: 20px;
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
span.sitetitle {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
#headers {
    width: 100%;
    display: flex;
}
nav.nav {
    margin-left: auto;
    margin-right: 50px;
}
body {
    margin: 0;
}
.menu-group {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    height: fit-content;
    box-sizing: border-box;
    line-height: 1;
}